




<app-home-page></app-home-page>
<!--
<html>
    <body>
        <form action="" method="POST" #userlogin="ngForm" (ngSubmit)="OnSubmit(userlogin.value)">
        <table>
            <tr>
                <td>
                <input type="text" placeholder="Username" name="user" ngModel>
              </td>
            </tr>
            <tr>
            <td>
                <input type="password" placeholder="Password" name="pass" ngModel>
            </td>
            </tr>
            <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
            </tr>
        </table>
    </form>
    </body>
</html>
  -->
