<div class="row">
  <div class="column">
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
              alt="First slide">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
              alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
          </div>
        </div>
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
              alt="Third slide">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
          </div>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>
  <div class="column">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
      <span class="login100-form-title p-b-26">
      Welcome
      </span>
      <span class="login100-form-title p-b-48">
      <i class="zmdi zmdi-font"></i>
      </span>
      <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
      <input class="input100" type="text" name="email">
      <span class="focus-input100" data-placeholder="Email"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Enter password">
      <span class="btn-show-pass">
      <i class="zmdi zmdi-eye"></i>
      </span>
      <input class="input100" type="password" name="pass">
      <span class="focus-input100" data-placeholder="Password"></span>
      </div>
      <div class="container-login100-form-btn">
      <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn">
      Login
      </button>
      </div>
      </div>
      <div class="text-center p-t-115">
      <span class="txt1">
      Don’t have an account?
      </span>
      <a class="txt2" href="#">
      Sign Up
      </a>
      </div>
      </form>
      </div>
  </div>
</div>
